<div class="card mb-3 p-3">
  <div class="d-flex justify-content-between">
    <div>
      <%= subscription.display_name %>
      <%= subscription.renewal_date %>
    </div>
    <div id="nav-user-container" class="btn-group">
      <button class="nav-user btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <ul id="nav-dropdown-menu" class="dropdown-menu dropdown-menu-end shadow mt-3">
          <li><%= link_to 'EDIT', '', class: 'btn btn-primary d-grid gap-2 m-1', data: { :bs_target => "#editSubscriptionModal#{subscription.id}", :bs_toggle => 'modal' } %></li>
          <li><%= link_to "DELETE", '', data: { turbo_method: 'delete', turbo_confirm: "Delete this subscription?" }, class: 'btn btn-primary d-grid gap-2 m-1' %></li>
        </ul>
      </div>
    </div>
  </div>
<%= render "shared/update", subscription: subscription %>
