<div class="card border-0 shadow flex-row mb-3 <%= subscription.status ? 'active' : 'inactive' %>">
  <div class="card-image-container p-3">
    <% if subscription.plan.resource.logo %>
      <%= image_tag subscription.plan.resource.logo, class:"img-fluid" %>
    <% else %>
      <%= image_tag "custom.png", class:"img-fluid" %>
    <% end %>
    <%# Visual status helper %>
    <div class="card-status-helper <%= subscription.status ? 'bg-success' : 'bg-dark opacity-50' %> <%= @subscriptions.upcoming.include?(subscription) ? 'bg-danger' : '' %>"></div>
  </div>
  <div class="card-content-container">
    <div class="card-content h-100 d-flex flex-column justify-content-between p-3">
      <div>
        <div class="d-flex justify-content-between align-items-center">
          <h4 class="mb-0 me-2">
            <%= subscription.plan.resource.user ? subscription.plan.name : subscription.plan.resource.name %>
          </h4>
          <button class="nav-user btn dropdown-toggle p-0" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-ellipsis-vertical fa-fw fa-lg text-secondary"></i>
          </button>
          <ul id="nav-dropdown-menu" class="dropdown-menu dropdown-menu-end shadow mt-3">
            <li><%= link_to 'Details', '', class: 'dropdown-item', data: { :bs_target => "#showSubscriptionModal#{subscription.id}", :bs_toggle => 'modal' } %></li>
            <% if subscription.status == true %>
              <li><%= link_to 'Unsubscribe', '', class: 'dropdown-item text-danger', data: { :bs_target => "#subscribeSubscriptionModal#{subscription.id}", :bs_toggle => 'modal' } %></li>
            <% else %>
              <li><%= link_to 'Subscribe', '', class: 'dropdown-item text-success', data: { :bs_target => "#subscribeSubscriptionModal#{subscription.id}", :bs_toggle => 'modal' } %></li>
              <li><%= link_to "Delete", subscription_path(subscription), class: 'dropdown-item text-danger', data: { turbo_method: :delete, turbo_confirm: "Delete this subscription?" } %></li>
            <% end %>
          </ul>
        </div>
        <p><small class="mb-0 text-secondary"><%= subscription.region %></small></p>
      </div>
      <div>
        <div class="d-flex justify-content-between align-items-end">
          <small><%= subscription.status ? 'Renewal on' : 'Cancelled on' %></small>
          <small class="text-end me-2">
            <% case subscription.plan.billing_cycle %>
            <% when 12 %>
            <%= "per year" %>
            <% when 1 %>
            <%= "per month" %>
            <% when 0.25 %>
            <%= "per week" %>
          <% end %>
        </small>
      </div>
      <div class="d-flex justify-content-between align-items-end">
        <p class="mb-0"><%= subscription.renewal_date.strftime("%d %B %Y") %></p>
        <p class="mb-0 me-2"><%= format_price(subscription.plan.price) %></p>
      </div>
    </div>
  </div>
</div>
</div>
