<div id="confirmSubscriptionModal<%= subscription.id %>" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header mb-2 border-0 align-items-start">
        <h2 class="mb-0">Confirmation</h2>
        <button type="button" class="btn-close mt-1" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer d-flex justify-content-between border-0 text-center">
        <p class="w-100 mb-3">Please confirm the status of your subscription</p>
        <div class="w-100 d-flex gap-3">
          <% if subscription.status == true %>
            <%= link_to "Return to homepage" , ' ', class: 'w-50 btn', data: { :bs_dismiss => 'modal' } %>
            <%= simple_form_for(subscription, html: { class: "w-50" }) do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: :false} %>
              <%= f.submit "Cancelled subscription", class: 'w-100 btn btn-danger' %>
            <% end %>
          <% else %>
            <%= simple_form_for(subscription, html: { class: "w-100" }) do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: :true} %>
              <%= f.input :renewal_date, html5: true, label: 'Update your renewal date:', input_html: { class: 'w-75 mx-auto mb-4' } %>
              <div class="d-flex gap-1">
                <%= link_to "Return to homepage" , ' ', class: 'w-50 btn', data: { :bs_dismiss => 'modal' } %>
                <%= f.submit 'Subscribed to service', class: 'w-50 btn btn-primary' %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
