<div class="navbar navbar-expand-sm navbar-light shadow-sm <%= user_signed_in? ? '' : 'sticky-top' %>" data-action="scroll@window->lp-scroll-effect#updateNavbar"
  data-lp-scroll-effect-target="navbar">
  <div class="<%= user_signed_in? ? 'container' : 'd-flex justify-content-between align-items-center w-100 px-4' %>">
    <% if user_signed_in? %>
      <%= link_to subscriptions_path, class: "navbar-brand" do %>
        <span class="text-primary">subs</span>tracked
      <% end %>
    <% else %>
      <%= link_to root_path, class: "navbar-brand" do %>
        <span class="text-primary">subs</span>tracked
      <% end %>
    <% end %>
    <% if user_signed_in? %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="navbar-welcome nav-item d-flex align-items-center me-3">
            <p class="mb-0 me-2" style="font-weight: 500;">Hello <span class="text-primary"><%= current_user.name %></span></p>
            <%= image_tag "waving-hand.png", class: "waving-hand-icon" %>
          </li>
          <li class="nav-item dropdown">
            <div class="dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown" aria-haspop="true" aria-expanded="false">
              <%= current_user.photo.attached? ? cl_image_tag(current_user.photo.key, class: "avatar me-1") : image_tag("profile-icon.jpg", class: "avatar me-1") %>
              <i class="fa-solid fa-chevron-down fa-fw fa-sm"></i>
            </div>
            <div id="navbarDropdown" class="dropdown-menu dropdown-menu-end shadow-sm" aria-labelledby="navbarDropdown">
              <%= link_to "Subscriptions", subscriptions_path, class: "dropdown-item" %>
              <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
              <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item text-danger" %>
            </div>
          </li>
        </ul>
      </div>
    <% end %>
    <% unless user_signed_in? %>
      <a href="#loginFormContainer" class="btn btn-clean text-primary p-0">Login</a>
    <% end %>
  </div>
</div>
