<div id="rentalModal-<%= to_be_added %>" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header mb-4 border-0 align-items-start">
        <h2 class="mb-0">Add a new Subscription</h2>
        <button type="button" class="btn-close mt-1" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%# Form Content %>
      <%= simple_form_for(@subscriptions) do |f| %>
        <div class="modal-body mb-4 border-0">
          <%= f. :start_date, html5: true %>
          <%= f.input :start_date, html5: true %>
          <%= f.input :due_date, html5: true %>
        </div>
        <div class="modal-footer d-flex justify-content-between border-0">
          <%= link_to "Cancel", class: 'btn link-unstyled p-0 text-primary', data_bs_dismiss: 'modal' %>
          <%= f.submit 'Rent', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
