<div id="addSubscriptionModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-controller="display-plan">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0 align-items-start">
        <h2 class="mb-0">Add subscription</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%# Form Content %>
      <div class="service-select mx-auto">
        <label for="resources">Service</label>
        <select name="resources" id="resources" data-display-plan-target="resource" data-action="change->display-plan#display" class="form-select">
          <option value="" label=" "></option>
          <% @pre_resources.each do |resource| %>
            <option value="<%= resource.name %>"><%= resource.name %></option>
          <% end %>
        </select>
      </div>
      <%= simple_form_for(subscription)  do |f| %>
        <div class="modal-body border-0 d-none", data-display-plan-target="form">
          <div class="plans", data-display-plan-target="plans">
            <%# <%= f.association :plan, collection: @plans %>
          </div>
          <%= f.input :start_date, html5: true, input_html: { style: "margin-right: 0rem !important;
    margin-left: 0rem !important;" } %>
          <%= f.input :renewal_date, html5: true, input_html: { style: "margin-right: 0rem !important;
    margin-left: 0rem !important;" } %>
          <%= f.input :region %>
          <%= f.input :notes %>
        </div>
        <div class="modal-footer d-flex justify-content-between border-0">
          <div data-display-plan-target="custom">
            <span style="font-size: small">Can't find your subscription above?</span>
            <%= link_to new_subscription_path, class: 'btn btn-primary', data_bs_dismiss: 'modal' do %>
              <%= "Add Custom Subscription" %>
              <i class="fa-solid fa-arrow-right"></i>
            <% end %>
          </div>
          <%= f.submit 'Add Subscription', class: 'btn btn-primary d-none mx-auto', data: {display_plan_target: "add"} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
