<div id="editSubscriptionModal<%= subscription.id %>" class="modal fade" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0 align-items-start">
        <h2 class="mb-0">Edit your <span class="text-primary">subs</span>cription</h2>
        <button type="button" class="btn-close mt-1" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= simple_form_for(subscription) do |f| %>
        <div class="modal-body">
          <%= f.input :region, label: 'Region', collection: ["Australia", "Brazil", "France", "Germany", "Hong Kong", "Italy", "Japan", "Singapore", "United States of America", "United Kingdom", "Worldwide"], selected: "Japan" %>
          <%= f.input :renewal_date, html5: true, label: 'Renewal Date' %>
          <%= f.association :plan, collection: Plan.where(resource: subscription.plan.resource) %>
          <%= f.input :notes, label: 'Notes' %>
        </div>
        <div class="modal-footer d-flex justify-content-between border-0">
          <%= f.submit 'Save Changes', class: 'btn btn-primary w-100' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
