>
<%= simple_form_for(@subscription) do |f| %>
  <div class="card">
    <%= f.input :region, label: 'Region' %>
    <%= f.input :renewal_date, label: 'Renewal Date' %>
    <%= f.input :price, collection: @plan, label: 'Charge' %>
    <%= f.input :billing_cycle, collection: @plan, label: 'Billing Cycle' %>
  </div>
  <div class="card">
    <%= f.input :notes, label: 'Notes' %>
  </div>
  <%= f.button :submit, label: 'Save Changes' %>
<% end %>
