<section class="container mb-5">
  <%# Intro Section %>
  <div class="row">
    <div class="col-12 d-block d-md-none">
      <h1><%= Time.new.strftime("%B") %></h1>
    </div>
    <%# Text Intro %>
    <div class="col-md-6 col-12 d-flex align-items-center order-md-1 order-2">
      <div>
        <h1 class="d-none d-md-block"><%= Time.new.strftime("%B") %></h1>
        <p>This is your total amount spent in <%= Time.new.strftime("%B") %> <%= Time.new.strftime("%Y") %>, based on the monthly average of all active subscriptions.
          <br>
          <br>
          From this page you can manage your active subscriptions, as well as add new subscriptions and renew inactive subscriptions.
        </p>
      </div>
    </div>
    <%# Graph Display %>
    <div class="col-md-6 col-12 order-md-2 order-1 mb-md-0 mb-5">
      <%# Graph Content %>
      <div id="graphTabContent" class="tab-content mb-2">
        <div id="currency-tab-pane" class="tab-pane fade show active" role="tabpanel" aria-labelledby="currency-tab" tabindex="0">
          <%= render 'shared/currency-sum' %>
        </div>
        <div id="monthly-tab-pane" class="tab-pane fade" role="tabpanel" aria-labelledby="monthly-tab" tabindex="0">
          <%= render 'shared/pie-chart' %>
        </div>
        <div id="annual-tab-pane" class="tab-pane fade" role="tabpanel" aria-labelledby="annual-tab" tabindex="0">
          <%= render 'shared/annual-chart' %>
        </div>
      </div>
      <%# Graph Nav %>
      <ul id="graph-tab" class="nav nav-pills justify-content-center" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" data-bs-toggle="pill" data-bs-target="#currency-tab-pane" type="button" role="tab" aria-controls="graph-currency" aria-selected="true">Monthly</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" data-bs-toggle="pill" data-bs-target="#monthly-tab-pane" type="button" role="tab" aria-controls="graph-monthly" aria-selected="false">By category</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" data-bs-toggle="pill" data-bs-target="#annual-tab-pane" type="button" role="tab" aria-controls="graph-annual" aria-selected="false">Annual</button>
        </li>
      </ul>
    </div>
  </div>
</section>
<%# Subscription Section %>
<section class="container" data-controller="draggable">
  <div class="row row-cols-md-2 row-cols-1">
    <div class="col">
      <%# Soon to be renewed subscriptions %>
      <%= render 'upcoming-subscriptions' %>
      <%# inactive subscriptions %>
      <div class="d-md-block d-none">
        <%= render 'inactive-subscriptions' %>
      </div>
    </div>
    <%# Active subscriptions %>
    <div class="col" >
      <%= render 'active-subscriptions' %>
    </div>
    <div class="col">
      <div class="d-md-none d-block">
        <%= render 'inactive-subscriptions' %>
      </div>
    </div>
  </div>
</section>
