<% content_for :meta_title, "Add a Subscription - Substracked" %>
<% content_for :meta_description, "Add a subscription to your Substracked account." %>
<div class="container">
  <h1>Add Custom <span class="text-primary">Subs</span>cription</h1>
  <%= simple_form_for(@subscription) do |f| %>
    <div class="mb-3 string required">
      <label class="form-label string required" for="plan_name">Name of the plan<abbr title="required">*</abbr></label>
      <input class="form-control string required" type="text" name="plan[name]" id="plan_name">
    </div>
    <div class="mb-3 string required">
      <label class="form-label string required" for="plan_price">Price <abbr title="required">*</abbr></label>
      <input class="form-control string required" type="text" name="plan[price]" id="plan_price">
    </div>
    <div class="mb-3 string required">
      <label class="form-label string required" for="plan_billing_cycle">Billing Cycle (in month)<abbr title="required">*</abbr></label>
      <input class="form-control string required" type="text" name="plan[billing_cycle]" id="plan_billing_cycle">
    </div>
    <div class="mb-3 string required">
      <label class="form-label string required" for="plan_cancellation_notice">Cancellation Notice</label>
      <input class="form-control string required" type="text" name="plan[cancellation_notice]" id="plan_cancellation_notice">
    </div>
    <%= f.input :start_date, html5: true %>
    <%= f.input :renewal_date, html5: true %>
    <%= f.input :region, collection: ["Australia", "Brazil", "France", "Germany", "Hong Kong", "Italy", "Japan", "Singapore", "United States of America", "United Kingdom"], selected: "Japan" %>
    <%= f.input :notes %>
    <div class="d-flex justify-content-between border-0">
      <%= link_to "Cancel", subscriptions_path %>
      <%= f.submit 'Add Custom Subscription', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
