<div class="container">
  <%= simple_form_for(@subscription) do |f| %>
    <div class="mb-3 string required">
      <label class="form-label string required" for="plan_name">Name of the plan<abbr title="required">*</abbr></label>
      <input class="form-control string required" type="text" name="plan[name]" id="plan_name">
    </div>
    <div class="mb-3 string required">
      <label class="form-label string required" for="plan_price">Price <abbr title="required">*</abbr></label>
      <input class="form-control string required" type="text" name="plan[price]" id="plan_price">
    </div>
    <div class="mb-3 string required">
      <label class="form-label string required" for="plan_billing_cycle">Billing Cycle (in month)<abbr title="required">*</abbr></label>
      <input class="form-control string required" type="text" name="plan[billing_cycle]" id="plan_billing_cycle">
    </div>
    <div class="mb-3 string required">
      <label class="form-label string required" for="plan_cancellation_notice">Cancellation Notice</label>
      <input class="form-control string required" type="text" name="plan[cancellation_notice]" id="plan_cancellation_notice">
    </div>
    <%= f.input :start_date, html5: true %>
    <%= f.input :renewal_date, html5: true %>
    <%= f.input :region %>
    <%= f.input :notes %>
    <%= f.submit 'Add', class: 'btn btn-primary' %>
  <% end %>
  <%= link_to "Cancel", subscriptions_path %>
</div>
