<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="description" content="<%= meta_description %>">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />
  </head>
  <body class="d-flex flex-column justify-content-between min-vh-100">
    <div data-controller="<%= user_signed_in? ? '' : 'lp-scroll-effect' %>">
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <div class="<%= user_signed_in? ? 'py-5' : '' %>">
        <%= yield %>
        <% if user_signed_in? %>
          <%= render "shared/logged-in-background" %>
        <% end %>
      </div>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
