<!DOCTYPE html>
<html>
  <head>
    <title>Substracked</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body class="d-flex flex-column justify-content-between min-vh-100">
    <div data-controller="lp-scroll-effect">
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <div class="<%= user_signed_in? ? 'py-5' : '' %>">
        <%= yield %>
        <% if user_signed_in? %>
          <%= render "shared/logged-in-background" %>
        <% end %>
      </div>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
